<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body class="text-center">
    <div>
      <form action="/edit/item" method="POST" class="form-signin">
        <img src="/images/item-page.png" class="mb-4" width="178" />
        <h1 class="h1 mb-3 font-weight-bold">item.</h1>
        <h1 class="h4 mb-3 font-weight-normal">
          a single entry for an item you own
        </h1>
        <select name="items" id="items" class="form-control custom-select">
          <% items.forEach(item => { %>
          <option
            data-description="<%= item.description %>"
            data-tags="<%= item.tags.join(",") %>"
            data-name="<%= item.name %>"
            data-location="<%= item.location %>"
            value="<%= item.id %>"
            class="form-control"
            ><%= item.name %>
          </option>
          <% }) %>
        </select>
        <input type="text" id="location" name="location" class="form-control" placeholder="new location"/>
        <label for="description" class="sr-only">Description</label>
        <input type="text" name="name" id="name" placeholder="name" class="form-control" placeholder="new name">
        <textarea
          maxlength="255"
          type="text"
          id="description"
          name="description"
          placeholder="new description"
          class="form-control"
          required
        ></textarea>
        <input type="text" id="tags" name="tags" class="form-control" placeholder="new tags"/>
        <% if (!disablePost) { %>
        <button type="submit" class="btn btn-lg btn-login btn-block mt-3">
          create
        </button>
        <% } %>
        <!-- prettier-ignore -->
        <% if (disablePost) { %>
        <button type="submit" class="btn btn-lg btn-login btn-block" disabled>
          create
        </button>
        <% } %>
        <a href="/edit" class="btn btn-lg btn-register btn-block">back</a>
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/item.js"></script>
</html>
